<%- include("partials/header"); -%>

<h1>Home</h1>

<p><%- homeStartingContent %></p>

<% posts.forEach((poste)=>{%>
<h1><%- poste.title %></h1>
<p><%- poste.post %></p>
<% }); %> <%- include("partials/footer"); -%>
