{% extends "base.html.twig" %}

{% block titre %}Liste des livres
{% endblock %}
{% block contenu %}

	{% if message|length >0 %}
		<div class="alert alert-{{message.type}}" role="alert">
			{{message.content}}
		</div>
	{% endif %}

	<table class="table text-center" id="tableauLivres">
		<thead class="table table-dark text-center">
			<tr>
				<th>Couverture</th>
				<th>Titre</th>
				<th>Auteur</th>
				<th>Nombre de pages</th>
				<th colspan="2">Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for livre in livres %}
				<tr>
					<td class="align-middle">
						<img src="images/{{livre.image}}" alt="" width="60px">
					</td>
					<td class="align-middle">
						<a href="/livres/{{livre._id}}">{{livre.nom}}</a>
					</td>
					<td class="align-middle">{{livre.auteur}}</td>
					<td class="align-middle">{{livre.pages}}</td>
					<td class="align-middle">
						<a href="/livres/modifier/{{livre._id}}" class="btn btn-warning">Modifier</a>
					</td>
					<td class="align-middle">
						<form action="/livres/delete/{{livre._id}}" method="post" onsubmit="return confirm('Supprimer le livre ?');">
							<button class="btn btn-danger" onclick="" type="submit">Supprimer</button>
						</form>
					</td>
				</tr>
			{% endfor %}


		</tbody>
	</table>
	<button type="button" class="btn btn-success w-100" data-toggle="modal" data-target="#ajoutModal">Ajouter</button>


	{# Modal ajout d'un livre #}
	<div class="modal fade" id="ajoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Ajouter un livre</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form id="ajoutForm" method="POST" action="" enctype="multipart/form-data">
						<div class="form-group">
							<label for="titre">Titre</label>
							<input type="text" class="form-control" id="nom" name="nom" placeholder="Entrez un titre">
						</div>
						<div class="form-group">
							<label for="auteur">Auteur</label>
							<input type="text" class="form-control" id="auteur" name="auteur" placeholder="Entrez un auteur">
						</div>
						<div class="form-group">
							<label for="page">Nombre de pages</label>
							<input type="number" class="form-control" id="pages" name="pages" placeholder="Entrez un nombre de pages">
						</div>
						<div class="form-group">
							<label for="description">Decription du livre</label>
							<textarea class="form-control" id="description" name="description" rows="3" placeholder="Entrez une description"></textarea>
						</div>
						<div class="form-group">
							<label for="image">Image</label>
							<input type="file" class="form-control-file" id="image" name="image">
						</div>

						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
							<button type="submit" id="validationFormAjout" class="btn btn-success">Envoyer mon livre</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		{# Fin Modal ajout d'un livre #}


	{% endblock %}
