{% extends "base.html.twig" %}


{% block titre %}
	{{livre.nom}}
{% endblock %}
{% block contenu %}


	{% if isModif %}
		<div class="row m-2">
			<div class="col-6">
				<form method="post" action="/livres/modifApp">
					<h2>Information :
					</h2>
					<div class="form-group">
						<label for="titre">Titre</label>
						<input type="text" class="form-control" id="nom" name="nom" placeholder="Entrez un titre" value="{{livre.nom}}">
					</div>
					<div class="form-group">
						<label for="auteur">Auteur</label>
						<input type="text" class="form-control" id="auteur" name="auteur" placeholder="Entrez un auteur" value="{{livre.auteur}}">
					</div>
					<div class="form-group">
						<label for="page">Nombre de pages</label>
						<input type="number" class="form-control" id="pages" name="pages" placeholder="Entrez un nombre de pages" value="{{livre.pages}}">
					</div>
				</div>
				<div class="col-6">
					<h2>Résumé :
					</h2>
					<div class="form-group">
						<label for="description">Decription du livre</label>
						<textarea class="form-control" id="description" name="description" rows="5" placeholder="Entrez une description" value="{{livre.description}}"></textarea>
					</div>
				</div>
				<input type="hidden" value="{{livre._id}}" name="identifiant">
				<input type="submit" class=" btn btn-primary w-100" value="Modifier ce livre">
			</form>
			<form action="/livres/updateImage" enctype="multipart/form-data method=" method="post">
				<h2>Votre image</h2>
				<div class="row mt-3">
					<img class="col-4" src="/images/{{livre.image}}" alt="image">
					<div class="col-8">
						<div class="form-group">
							<label for="image">Image</label>
							<input type="file" class="form-control-file" id="image" name="image">
						</div>
						<input type="hidden" value="{{livre._id}}" name="identifiant">
						<input type="submit" class="btn btn-primary" value="Modifier l'image">
					</div>
				</div>

			</form>

		</div>
	{% else %}
		<div class="row m-2">
			<div class="col-6">
				<h2>Information :
				</h2>
				<div>Auteur :
					{{livre.auteur}}
				</div>
				<div>Nombre de pages :
					{{livre.pages}}
				</div>
				<img src="/images/{{livre.image}}" alt="image">
			</div>
			<div class="col-6">
				<h2>Résumé :
				</h2>
				<div>
					{{livre.description}}
				</div>
			</div>
		{% endif %}
	</div>
{% endblock %}
