<%- include('partials/header') %>

<div class="container">
    <h1><%= perso.nom %> </h1>
    <p><img src="images/<%= perso.nom %>.png" alt="<%= perso.nom %>"></p>
    <h1><%= perso.arme %> </h1>
    <p><img src="images/<%= perso.arme %>.png" alt="<%= perso.arme %>"></p>
</div>
<%- include('partials/footer') %>