<%- include('partials/header') %>

<div class="container">
    <h1><%= perso.nom %> </h1>
    <p><img src="images/<%= perso.nom %>.png" alt="<%= perso.nom %>"></p>
    <h1><%= perso.arme %> </h1>
    <p><img src="images/<%= perso.arme %>.png" alt="<%= perso.arme %>"></p>
    <form action="" method="POST">
        <select name="arme" onchange="submit()">
            <option value="hache" <%= (perso.arme==="hache")?"selected":"" %>>Hache</option>
            <option value="arc" <%= (perso.arme==="arc")?"selected":"" %>>Arc</option>
            <option value="marteau" <%= (perso.arme==="marteau")?"selected":"" %>>Marteau</option>
        </select>
        <input type="hidden" name="perso" value="<%= perso.nom %>">

    </form>
</div>
<%- include('partials/footer') %>